In [19]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4,5,6], [7, 8, 9]], columns=["A", "B", "C"], index=["x", "y", "z"])
# df.index
# df.info()
# df.size
# df.describe()
# df["A"].unique()
# df.shape

In [20]:
coffee = pd.read_csv('./warmup-data/coffee.csv')
# o_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")

In [43]:
import numpy as np
# print(coffee.loc[0, "Coffee Type"])
# coffee.index = coffee["Day"]
# coffee.loc["Monday"]
# coffee.Day
# coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[0, 1])
# for index, row in coffee.iterrows():
# coffee['New_Price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99)
# coffee.drop(columns=["New_Price"], inplace=True)
# coffee['Price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99)
# coffee['Revenue'] = coffee['Units Sold'] * coffee['Price']
# coffee = coffee.rename(columns={'Price' : 'New Price'})
# coffee.loc[[0, 1], 'Units Sold'] = np.nan
# coffee.fillna(coffee['Units Sold'].mean()) # .interpolate() will look at neighbors to continue trends
# coffee.dropna(subset=['Units Sold']) # Drops any row with NA columns
# .isna() / .notna() to filter na-related row
coffee.groupby(['Coffee Type'])['Units Sold'].sum() # Like an inner join but where the right table is aggregated
coffee.groupby(['Coffee Type', 'Day']).agg({'Units Sold': 'sum', 'New Price': 'mean'}) # Defines aggregate functions for multiple cols

AttributeError: 'DataFrame' object has no attribute 'name'

In [24]:
def categorize(row):
    if row['height_cm'] < 175 and row['weight_kg'] < 70:
        return 'Lightweight'
    elif row['height_cm'] < 185 or row['weight_kg'] <= 80:
        return 'Middleweight'
    else:
        return 'Heavyweight'

In [37]:

bios = pd.read_csv('./data/bios.csv')
# bios.loc[(bios['height_cm'] > 215) & (bios['born_country'] == 'USA'), ['name']] # bios[bios['height_cm'] > 215]['name']
# bios[bios['name'].str.contains("keith|patrick", case=False)]
# bios[bios['born_country'].isin(["USA", "FRA", "GBR"]) & (bios['name'].str.startswith("Keith"))]
# bios.query('born_country == "USA" and born_city == "Seattle"') # For SQL
# bios_new = bios.copy()
# bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]
# bios_new.query('first_name == "Keith"')
# bios_new['born_date'] = pd.to_datetime(bios_new['born_date'], format="%Y-%m-%d", errors="coerce") # format for conversion
# bios_new['born_year'] = bios_new['born_date'].dt.year
# bios_new[['name', 'born_year']]
# bios_new.to_csv('./data/bios_new.csv', index=False)
# bios_h = bios.copy()
# bios_h['height_category'] = bios['height_cm'].apply(lambda x: 'Short' if x < 165 else ('Average' if x < 185 else 'Tall'))
# bios_h['weight_category'] = bios.apply(categorize, axis=1)
# bios_h
bios_c = bios.copy()
bios_c[bios_c['born_country'] == 'USA']['born_city'].value_counts()

born_city
New York        416
Chicago         283
Los Angeles     230
Philadelphia    205
Boston          153
               ...
Ridgecrest        1
Harriman          1
Moberly           1
Fort Arthur       1
McHenry           1
Name: count, Length: 2255, dtype: int64

In [31]:
nocs = pd.read_csv('./data/noc_regions.csv')
results = pd.read_csv('./data/results.csv')

# nocs.head()

# bios_new = pd.merge(bios, nocs, left_on="born_country", right_on="NOC", how='inner', suffixes=["bios", "_t"])
# bios_new

# pd.concat([df_one, df_two]) combines multiple dataframes into one

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,NaN,26.0,False,NaN,Marián Skupek,2001-07-12,Gelnica,Košice,SVK,Slovakia,196.0,108.0,NaN
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,NaN,28.0,False,NaN,Elsa Fermbäck,1998-03-28,Vemdalen,Jämtland,SWE,Sweden,NaN,NaN,NaN
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,NaN,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,NaN,NaN,False,NaN,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308407,2022.0,Winter,NaN,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,NaN,NaN,24.0,False,NaN,Charlotta Säfvenberg,1994-10-07,Kungsbacka,Halland,SWE,Sweden,NaN,NaN,NaN

In [51]:
pivot = coffee.pivot(columns='Coffee Type', index='Day', values='Revenue')
pivot.sum(axis=1) # axis=0 groups it by coffee type

bios_new['born_date'] = pd.to_datetime(bios_new['born_date'], errors="coerce") # format="%Y-%m-%d" is to change the format for conversion
bios.groupby(bios_new['born_date'].dt.year)['name'].count().reset_index().sort_values('name', ascending=False)

     born_date  name
152     1985.0  1954
155     1988.0  1903
156     1989.0  1902
157     1990.0  1893
154     1987.0  1884
..         ...   ...
5       1838.0     1
4       1837.0     1
3       1836.0     1
2       1833.0     1
176     2009.0     1

[177 rows x 2 columns]

In [56]:
coffee['yesterday_revenue'] = coffee['Revenue'].shift(1)
coffee['pct_change'] = coffee['Revenue'] / coffee['yesterday_revenue'] * 100
coffee

bios['height_rank'] = bios['height_cm'].rank()
bios.sort_values(['height_rank'])

coffee['cumulative_revenue'] = coffee['Revenue'].cumsum() # .select_dtypes('float64') for type specificity

latte = coffee[coffee['Coffee Type'] == 'Latte'].copy()
latte['3day'] = latte['Units Sold'].rolling(3).sum() # .rolling will perform agg function on x previous rows at a time

# Look into pyarrow for string optimization #
# results_arrow = pd.read_csv('./data/results.csv', engine='pyarrow', dtype_backend='pyarrow')